.advantages {
  padding: 80px 0;
  @media (max-width: 992px) {
    padding: 50px 0;
  }
  @media (max-width: 479px) {
    padding: 30px 0;
  }
  &__header {
    margin-bottom: 50px;
    @media (max-width: 767px) {
      margin-bottom: 25px;
    }
  }
  &__row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px -30px;
  }
  &__column {
    padding: 0 15px;
    margin-bottom: 30px;
    flex: 0 1 25%;
    @media (max-width: 1000px) {
      flex: 0 1 50%;
    }
    @media (max-width: 560px) {
      flex: 0 1 100%;
    }
  }
  &__item {
    background-color: #fff;
    padding: 30px;
    text-align: center;
    > *:not(:last-child) {
      margin-bottom: 10px;
    }
    @media (max-width: 1034px) {
      padding: 25px;
    }
  }
  &__icon {
    height: 48px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
  &__value {
    font-weight: 700;
    font-size: 40px;
    line-height: 57px;
    letter-spacing: 0.2px;
    color: #252b42;
  }
  &__text {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.1px;
    color: #737373;
  }
}
